%h1= @task.name
%span= link_to 'Editar', manager_edit_task_path(@task.to_param)
%p= @task.description
%br
%p
  Funcionário encarregado:
  = link_to @task.user.name, edit_user_path(@task.user.username)
%br

- if @task.status == "waiting"
  %table
    %tr
      %td Duração: #{@task.duration}
      %td R$ #{@task.hour_value}/h
    %tr
      %td
        %p= link_to 'Aceitar Proposta', manager_task_accept_path(@task.to_param), method: :put
      %td
        %p= link_to 'Renegociar', manager_task_renegotiate_path(@task.to_param), method: :put

