%fieldset
  .field
    = f.label :name
    = f.text_field :name
    = error_for task, :name
  .field
    = f.label :user_id
    = f.collection_select :user_id, @employees, :id, :name, include_blank: true
    = error_for task, :user

%fieldset
  .field
    = f.label :description
    = f.text_area :description
    = error_for task, :description

= f.submit :Salvar