%p#notice= notice
%h2 #{@current_user.name}
-if @checking.checked_in_at.present?
  %h4 Checked-in at: #{@checking.date(@checking.checked_in_at)}
%h1 00:00
%p= button_to 'Check-out', '/checking', method: :put
%p= link_to 'logout', '/logout'
