.fluid-content
  #message= flash_message
  %h1.center #{@current_user.name},
  %h5.center você checou as #{@current_user.checkings.last.time(@current_user.checkings.last.checked_in_at)} em #{@current_user.checkings.last.date(@current_user.checkings.last.checked_in_at)}

  %br
  #clock.center
  %br
  .center
    = form_for @checking, url: checking_path do |f|
      - render partial: 'form', locals: { f: f, button_name: "Check-out" }

:javascript
  startClock();