%h2 #{@current_user.name}
%p#notice= notice

-if @checking.checked_in_at.present?
  %h4 Checked-in at: #{@checking.date @checking.checked_in_at} - #{@checking.time @checking.checked_in_at}
  %h4 Latitude: #{@checking.lat} - Longitude: #{@checking.lng}
%h1 00:00

= form_for @checking, url: checking_path do |f|
  - render partial: 'form', locals: { f: f, button_name: "Check-out" }

= link_to 'logout', logout_path
|
= link_to 'edit', edit_employee_user_path