.row-fluid
  %h4.text-center #{@current_user.name},
  %h5 você checou as #{@current_user.time(@current_user.checkings.last.checked_in_at)} em #{@current_user.date(@current_user.checkings.last.checked_in_at)}

  = flash_message

  %br
  #clock.clearfix
  %br

  = form_for @checking, url: checking_path do |f|
    - render partial: 'form', locals: { f: f, button_name: "Check-out" }