%p#notice= notice
%h2 Welcome, #{@current_user.name}
%h1 00:00
= form_for(@checking) do |f|
  - if @checking.errors.any?
    #error_explanation
      %h2
        = pluralize(@checking.errors.count, "error")
        prohibited this checking from being saved:
      %ul
        - @checking.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :lat
  .field
    = f.text_field :lng
  .actions
    = f.submit 'Check-in'
/ %p= button_to 'Check-in', '/checking', method: :post
%p= link_to 'logout', '/logout'
