%p#notice= notice
%h2 Welcome, #{@current_user.name}
%h1 00:00
%h3 Latitude: #{@current_user.latitude} - Longitude #{@current_user.longitude}
= form_for create_checking_path do
  %p
    %input#lat{name: "lat", type: "text"}/
  %p
    %input#lng{name: "lng", type: "text"}/
  %p
    %input#sub{type: "submit", value: "Check-in"}/
%p= link_to 'logout', '/logout'
