.field
  = f.label "Valor da hora"
  = f.text_field :hour_value
%h5 Endereço do Trabalho
.field
  = f.label :rua
  = f.text_field :street
  = f.label "Número"
  = f.text_field :number
  = f.label :cidade
  = f.text_field :city