%p.muted Todos os campos são obrigatórios
%br
%fieldset
  .field
    = f.label :first_name
    = f.text_field :first_name, placeholder: "João"
    = error_for user, :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name, placeholder: "da Silva"
    = error_for user, :last_name
%fieldset
  .field
    = f.label :username
    = f.text_field :username, placeholder: "joaodasilva"
    = error_for user, :username
  .field
    = f.label :email
    = f.text_field :email, placeholder: "joaodasilva@mailinator.com"
    = error_for user, :email

- if @current_user.manager?
  = render partial: 'address', locals: { f: f, user: user }

- unless @current_user.manager?
  %fieldset
    = f.label :password
    = f.password_field :plain_password, placeholder: "******"
    = error_for user, :plain_password

= f.submit :Salvar

%br

.link-bottom
  = link_to '<< Voltar', root_path