- if @employee.errors.any?
  #error_explanation
    %h2
      = pluralize(@employee.errors.count, "error")
      prohibited this user from being saved:
    %ul
      - @employee.errors.full_messages.each do |msg|
        %li= msg

%p.muted * Campos Obrigatórios
%br

%fieldset
  .field
    = f.label "Nome*"
    = f.text_field :first_name, placeholder: "João"
  .field
    = f.label "Sobrenome*"
    = f.text_field :last_name, placeholder: "da Silva"
%fieldset
  .field
    = f.label "Username*"
    = f.text_field :username, placeholder: "joaodasilva"
  .field
    = f.label "Email*"
    = f.text_field :email, placeholder: "joaodasilva@mailinator.com"

- if @current_user.manager?
  = render partial: 'address', locals: { f: f }

- if @current_user.manager? == false && edit == true
  %fieldset
    = f.label "Password*"
    = f.password_field :plain_password

= f.submit :Salvar
%br
= link_to '<< Voltar', root_path