%table

  %thead
    %tr
      %th
        %p Entrada
        %p Checada
      %th
        %p Saída
        %p Checada
      %th
        %p Tempo
        %p Trabalhado
      %th
        %p Valor
        %p hora
      %th{colspan: "2"}
        %p Checagem
        %p Valor

    %tbody
      = f.fields_for :checkings, group do |c|
        %tr
          %td
            - if c.object.checked_in_at.present?
              %span= c.object.time(c.object.checked_in_at)
              %span.date (#{c.object.date(c.object.checked_in_at)})
          %td
            - if c.object.checked_out_at.present?
              %span= c.object.time(c.object.checked_out_at)
              %span.date (#{c.object.date(c.object.checked_out_at)})
          %td= c.object.working_time
          %td= number_to_currency(c.object.hour_value, format: "R$ %n")
          %td= number_to_currency(c.object.value, format: "R$ %n")
          - if c.object.checked_in_at.present? && c.object.checked_out_at.present?
            - if inverted
              %td= c.check_box :approved, {:checked => !c.object.approved?}, 0, 1
            - else
              %td= c.check_box :approved

    - if group.first.value.present?
      %tfoot
        %tr
          %td{colspan: "4"}
            %b TOTAL
          %td{colspan: "2"}
            %b= number_to_currency(Checking.total_price(group), format: "R$ %n")
        %tr
          %td{colspan: "6", class: "button"}
            = f.submit button_name, class: button_class