.container
  %table.table.table-bordered.clearfix
    %tr
      %td
        %h5 Entrada
      %td
        %h5 Saída
      %td
        %h5 Horas Trabalhadas
      %td
        %h5 Valor
      %td
        %h5 Status
      = f.fields_for :checkings, group do |c|
        %tr
          %td
            %b= c.object.time(c.object.checked_in_at)
            (#{c.object.date(c.object.checked_in_at)})
          %td
            %b= c.object.time(c.object.checked_out_at)
            (#{c.object.date(c.object.checked_out_at)})
          %td= c.object.working_time
          %td= number_to_currency(c.object.value)
          %td= c.check_box :approved