%table.table.table-striped
  %thead
    %tr
      %th Entrada
      %th Saída
      %th Tempo Trabalhado
      %th Valor da Hora
      %th Valor da Checagem
      %th
    %tbody
      = f.fields_for :checkings, group do |c|
        %tr
          %td
            - if c.object.checked_in_at.present?
              %b= c.object.time(c.object.checked_in_at)
              (#{c.object.date(c.object.checked_in_at)})
          %td
            - if c.object.checked_out_at.present?
              %b= c.object.time(c.object.checked_out_at)
              (#{c.object.date(c.object.checked_out_at)})
          %td= c.object.working_time
          %td= number_to_currency(c.object.hour_value, format: "R$ %n")
          %td= number_to_currency(c.object.value, format: "R$ %n")
          - if c.object.checked_in_at.present? && c.object.checked_out_at.present?
            - if inverted
              %td= c.check_box :approved, {:checked => !c.object.approved?}, 0, 1
            - else
              %td= c.check_box :approved