- presenter = UserPresenter.new(manager: @current_user, employee: @employee)

%h1 Editar #{presenter.edit_employee_title}
%h2= @employee.name

#message= flash_message

.base-form
  = form_for @employee, url: eval(presenter.edit_employee_form_url) do |f|
    = render partial: 'form', locals: { f: f, user: @employee}

- if @current_user.manager?
  .delete-account
    = link_to 'Deletar funcionário', user_path, method: :delete, data: { confirm: 'Você tem certeza de que deseja deletar esse funcionário?' }

