%p#notice= notice

- presenter = UserPresenter.new(manager: @current_user, employee: @employee)
%h1 Edit #{presenter.edit_employee_title}

= form_for @employee, url: eval(presenter.edit_employee_form_url) do |f|
  = render partial: 'form', locals: { f: f }

= link_to 'back', root_path