.row-fluid
  .page-header
    %h2 Relatório

  %h4 Checagens Não Aprovadas
  - if @employee.checkings.present?
    %table.table.table-striped
      %tr
        %td Entrada
        .hidden-phone
          %td Saída
        %td Tempo Trabalhado
        %td Valor

      - @employee.checkings.not_approveds.each do |c|
        %tr
          %td
            = c.time(c.checked_in_at)
            = c.date(c.checked_in_at)
          .hidden-phone
            %td
              = c.time(c.checked_out_at)
              = c.date(c.checked_out_at)
          %td
            = c.working_time
          %td
            = number_to_currency(c.value)

    %h4 Checagens Aprovadas
    - if @employee.checkings.approveds.present?
      %table.table.table-striped
        %tr
          %td Entrada
          .hidden-phone
            %td Saída
          %td Tempo Trabalhado
          %td Valor

        - @employee.checkings.approveds.each do |c|
          %tr
            %td
              = c.time(c.checked_in_at)
              = c.date(c.checked_in_at)
            .hidden-phone
              %td
                = c.time(c.checked_out_at)
                = c.date(c.checked_out_at)
            %td
              = c.working_time
            %td
              = number_to_currency(c.value)
    - else
      - flash[:warning] = "Não existem checagens aprovadas"
      #message= flash_message

  - else
    - flash[:warning] = "Não existem checagens"
    #message= flash_message