.fluid-content
  %h1 Relatório

  - if @employee.checkings.present?
    %h3.table-title Checagens Não Aprovadas

    - if @employee.checkings.not_approveds.present?
      .base-table.fluid-table
        %table
          %thead
            %tr
              %th
                %p Entrada
              %th
                %p Saída
              %th
                %p Tempo
              %th
                %p Valor
          - @employee.checkings.not_approveds.each do |c|
            %tbody
              %tr
                %td
                  %b= c.time(c.checked_in_at)
                  = c.date(c.checked_in_at)
                %td
                  %b= c.time(c.checked_out_at)
                  = c.date(c.checked_out_at)
                %td
                  = c.working_time
                %td
                  = number_to_currency(c.value, format: "R$ %n")
    - else
      - flash[:info] = "Não existem checagens a serem aprovadas"
      #message= flash_message

    %br
    %h3.table-title Checagens Aprovadas

    - if @employee.checkings.approveds.present?
      .base-table.fluid-table
        %table
          %thead
            %tr
              %th
                %p Entrada
              %th
                %p Saída
              %th
                %p Tempo
              %th
                %p Valor
          - @employee.checkings.approveds.each do |c|
            %tbody
              %tr
                %td
                  %b= c.time(c.checked_in_at)
                  = c.date(c.checked_in_at)
                %td
                  %b= c.time(c.checked_out_at)
                  = c.date(c.checked_out_at)
                %td
                  = c.working_time
                %td
                  = number_to_currency(c.value, format: "R$ %n")
    - else
      - flash[:info] = "Não existem checagens aprovadas"
      #message= flash_message

  - else
    - flash[:warning] = "Não existem checagens"
    #message= flash_message
%br
.link-bottom
  = link_to '<< Voltar', root_path