.block
  .pull-left
    %h3= @employee.name
    = @employee.full_address
    %br
    = @employee.email
.block
  .pull-right
    .btn-toolbar
      = link_to 'Editar', edit_user_path(@employee.username), class: 'btn btn-small btn-inverse'
      = link_to 'Deletar funcionário', user_path, method: :delete, data: { confirm: 'Você tem certeza de que deseja deletar esse funcionário?' }, class: 'btn btn-small btn-inverse'
.page-header.clearfix

#message= flash_message

- if @employee.checkings.present?
  .clearfix
    = form_for @employee, url: user_path(@employee.username) do |f|
      %h4 Checkagens Desaprovadas / Não visualizadas

      - if @employee.checkings.not_approveds.present?
        = render partial: 'show_table', locals: { f: f, group: @employee.checkings.not_approveds, inverted: false }
        = f.submit 'Aprovar', class: 'btn btn-info pull-right'
      - else
        .alert.alert-warning
          Não existem checagens a serem aprovadas

  .clearfix
    = form_for @employee, url: user_path(@employee.username) do |f|
      %h4 Checkagens Aprovadas

      - if @employee.checkings.approveds.present?
        = render partial: 'show_table', locals: { f: f, group: @employee.checkings.approveds, inverted: true }
        = f.submit 'Desaprovar', class: 'btn btn-warning pull-right'
      - else
        .alert.alert-warning
          Não existem checagens aprovadas


- else
  .alert.alert-warning
    #{@employee.name} ainda não fez nenhuma checagem

%br