%section
  %h1= @employee.name
  = @employee.full_address
  %br
  = @employee.email

  %aside.pull-right
    = link_to 'Editar', edit_user_path(@employee.username)
    / = link_to 'Deletar funcionário', user_path, method: :delete, data: { confirm: 'Você tem certeza de que deseja deletar esse funcionário?' }

#message= flash_message

%br

- if @employee.checkings.present?
  %section.table
    %section
      .base-table
        = form_for @employee, url: user_path(@employee.username) do |f|
          %h3.table-title Checkagens Não Aprovadas

          - if @employee.checkings.not_approveds.present?
            = render partial: 'show_table', locals: { f: f, group: @employee.checkings.not_approveds, inverted: false, button_name: "Aprovar", button_class: 'btn btn-green'  }
            / = f.submit 'Aprovar', class: 'btn btn-green btn-large'
          - else
            .striped-warning
              %p Não existem checagens a serem aprovadas

    %section
      .base-table
        = form_for @employee, url: user_path(@employee.username) do |f|
          %h3.table-title Checkagens Aprovadas

          - if @employee.checkings.approveds.present?
            = render partial: 'show_table', locals: { f: f, group: @employee.checkings.approveds, inverted: true, button_name: "Desaprovar", button_class: 'btn btn-yellow' }
            %br

          - else
            .striped-warning
              %p Não existem checagens aprovadas

- else
  .striped-warning
    %p #{@employee.name} ainda não fez nenhuma checagem

.clear
%br
.center
  = link_to '<< Voltar', root_path