%h2 #{@employee.name}

- if @employee.checkings.present?
  = form_for @employee, url: user_path(@employee.username) do |f|
    %table
      %tr
        %td Checked In
        %td Checked Out
        %td Value
        %td Approved?
        - @checkings.each do |c|
          = f.fields_for :checkings do |builder|
            %tr
              %td
                %p= c.time(c.checked_in_at)
                %p= c.date(c.checked_in_at)
              %td
                %p= c.time(c.checked_out_at)
                %p= c.date(c.checked_out_at)
              %td
                = c.value
              %td
                = builder.check_box :approved
    = f.submit :save


%br

= link_to 'edit', edit_user_path(@employee.username) \
= link_to 'delete this user', user_path, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'home', manager_users_path