.block
  .pull-left
    %h3= @employee.name
    = @employee.full_address
    %br
    = @employee.email
.block
  .pull-right
    .btn-toolbar
      = link_to 'Editar', edit_user_path(@employee.username), class: 'btn btn-small btn-inverse'
      = link_to 'Deletar funcionário', user_path, method: :delete, data: { confirm: 'Você tem certeza de que deseja deletar esse funcionário?' }, class: 'btn btn-small btn-inverse'
.page-header.clearfix

%br

- if @employee.checkings.present?
  = form_for @employee, url: user_path(@employee.username) do |f|
    %h4 Checkagens Desaprovadas / Não visualizadas
    = render partial: 'show_table', locals: { f: f, group: @employee.checkings.not_approveds }
    = f.submit 'Aprovar', class: 'btn btn-info pull-right'

  = form_for @employee, url: user_path(@employee.username) do |f|
    %h4 Checkagens Aprovadas
    = render partial: 'show_table', locals: { f: f, group: @employee.checkings.approveds }
    = f.submit 'Desaprovar', class: 'btn btn-warning pull-right'