
%p.muted * Campos Obrigatórios
%br

%fieldset
  .field
    = f.label "Nome*"
    = f.text_field :first_name, placeholder: "João"
  .field
    = f.label "Sobrenome*"
    = f.text_field :last_name, placeholder: "da Silva"
%fieldset
  .field
    = f.label "Username*"
    = f.text_field :username, placeholder: "joaodasilva"
  .field
    = f.label "Email*"
    = f.text_field :email, placeholder: "joaodasilva@mailinator.com"

%fieldset
  .field
    = f.label "Password*"
    = f.password_field :plain_password, placeholder: "*****"

%fieldset
  .field
    = f.label "Rua*"
    = f.text_field :street, placeholder: "Rua Tal"
  .field
    = f.label "Número*"
    = f.text_field :number, placeholder: "87964"
  .field
    = f.label "Cidade*"
    = f.text_field :city, placeholder: "Cidade Tal"


= f.submit :Salvar
%br
= link_to '<< Voltar', root_path