#content
  %h1 #{@user.name}, bem-vindo


  -@employees.each do |employee|
    %div.block
      %ul
        %h3= employee.name
        %li= employee.email
        %li #{employee.address}, #{employee.city}
        %li= link_to 'edit', edit_manager_users_path

