%section.menu
  %h1 #{@current_user.name}
  - if @current_user.company.present?
    %h4= @current_user.company.name
    %br
    = link_to 'Novo Funcionário', new_user_path, class: 'btn btn-large btn-striped'
    - if !@employees.empty?
      = link_to 'Criar Tarefa', new_task_path, class: "btn btn-large btn-striped"
  - else
    %br
    = link_to 'Criar Uma Empresa', new_company_path, class: 'btn btn-large btn-striped'

%hr.v-divider

%section.content
  %br
  #message= flash_message

  -if @current_user.company_id.nil?
    .striped-warning
      %p
        Você ainda não possui uma empresa cadastrada.
        Por favor, crie uma para prosseguir
  -else
    - if !@employees.empty?
      - @employees.each do |employee|
        = render partial: 'manager/users/employee', locals: { employee: employee }
    - else
      .striped-warning
        %p Você ainda não possui funcionários.