%p#notice= notice
%h1 Sign Up!
= form_for [:manager, @manager] do |f|
  - if @manager.errors.any?
    #error_explanation
      %h2
        = pluralize(@manager.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @manager.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :companies
    = f.select("post", "person_id", Person.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'})
    = f.label :street
    = f.text_field :address
    = f.label :number
    = f.text_field :number
    = f.label :city
    = f.text_field :city
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :plain_password
  .button
    = f.submit